{% extends 'index.html'%}


{% block Header %}
<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="index.html"
                class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h2 class="m-0 text-primary text-uppercase">Hotel Booking</h2>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <p class="mb-0">Welcome {{customer.name}}!!</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">{{customer.mobile}}</p>
                    </div>
                </div>
                
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <div class="h-100 d-inline-flex align-items-center py-2">
                            <i class="fa fa-envelope text-primary me-2"></i>
                            <p class="mb-0">{{customer.email}}!!</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Hotel Booking</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{{curl}}/customer/home" class="nav-item nav-link active">Home</a>
                        <a href="{{curl}}/customer/bookingdetails" class="nav-item nav-link">Booking Details</a>
                        <a href="{{curl}}/customer/editprofile" class="nav-item nav-link">Edit Profile</a>
                        <a href={{curl}}/customer/changepassword class="nav-item nav-link">Change Password</a>
                        <a href="{{curl}}/customer/logout" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->
{% endblock Header %}

{% block Carousel %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            
            <h1 class="mb-5"><span class="text-primary text-uppercase">CHANGE PASSWORD</span></h1>
        </div>
        <h1>{{msg}}</h1>
        <form align="center" method="post">
            {% csrf_token %}
            <div class="row g-3">
                
                <div class="col-12">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="oldpassword" 
                        name="oldpassword"
                        placeholder="Old Password"
                        required
                        >
                        <label for="oldpassword">Old Password</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="newpassword" 
                        name="newpassword"    
                        placeholder="New Password"
                        required
                        >
                        <label for="newpassword">New Password</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="confirmpassword" 
                        name="confirmpassword"    
                        placeholder="Confirm Password"
                        required
                        >
                        <label for="confirmpassword">Confirm Password</label>
                    </div>
                </div>
                
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Change Password</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

{% endblock Carousel %}

{% block About %}
{% endblock About %}

{% block Booking %}
{% endblock Booking %}

{% block Room %}
{% endblock Room %}


{% block Video %}
{% endblock Video %}

{% block Service %}
{% endblock Service %}

{% block Testimonial %}
{% endblock Testimonial %}

{% block Team %}
{% endblock Team %}

