{% extends 'index.html' %}

{% block Carousel %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Please enter email</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase"></span> For Sending Link to Your EmailId</h1>
        </div>
        <h1>{{msg}}</h1>
        <form align="center" method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" 
                        name="email"
                        placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Send Email</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock Carousel %}

{% block Booking %}
{% endblock Booking %}

{% block About %}
{% endblock About %}

{% block Room %}
{% endblock Room %}

{% block Video %}
{% endblock Video %}

{% block Service %}
{% endblock Service %}

{% block Testimonial %}
{% endblock Testimonial %}

{% block Team %}
{% endblock Team %}



